.row,
.row-2,
.row-3{
    max-width: $grid-width-1;
    margin: 0 auto;
//MARGIN BOTTOM
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port){
            margin-bottom: $gutter-vertical-small-1;
        }

    }
//TOTAL MAX WIDTH 
    @include respond(tab-port){
        max-width: 70rem;
        padding: 0 3rem;
    }

    @include respond(phone){
        max-width: 60rem;
        padding: 0 3rem;
    }
//APPLIES FOR ALL 'COL-' CLASS
    @include clearfix; 

    [class^="col-"] {
        float: left;
        
        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port){
                margin-right: 0;
                margin-bottom: $gutter-vertical-small-1;
            }
        }

        @include respond(tab-port){
            width: 100% !important;
        }

    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);

    }

    .col-1-of-3 {
        width: calc((100% - (2*#{$gutter-horizontal})) / 3);
    }

    .col-1-of-4 {
        width: calc((100% - (3*#{$gutter-horizontal})) / 4);
    }

    .col-1-of-5{
        width: calc((100% - (4*#{$gutter-horizontal})) / 5);

    }

    .col-2-of-3 {
        width: calc((2 * (100% - (2*#{$gutter-horizontal})) / 3) + #{$gutter-horizontal});
    }

    .col-2-of-4 {
        width: calc((2 * (100% - (3*#{$gutter-horizontal})) / 4) + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc((3 * (100% - (3*#{$gutter-horizontal})) / 4) + (2 * #{$gutter-horizontal}));
    }



}

.row-2{
    max-width: $grid-width-2;
    margin-bottom: $gutter-vertical-small-2;

//MARGIN BOTTOM
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-land){
            margin-bottom: $gutter-vertical-small-2;
        }

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small-1;
        }

        @include respond(phone){
            margin-bottom: 0;
        }

    }

//TOTAL MAX WIDTH 

    @include respond(tab-land) {
        max-width: 100%;
        padding: 0 3rem;
        margin-bottom: 4rem;
    }

    @include respond(tab-port) {
       max-width: 100%;
       padding: 0 0rem;
       position: relative;
       left: 2.3rem;
    }

    @include respond(phone) {
        max-width: 100%;
        padding: 0 3rem;
    }

//APPLIES FOR ALL 'COL-' CLASS
    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-port) {
                margin-right: 3rem;
                margin-bottom: 0rem;
            }
        }

        @include respond(tab-port) {
            width: 22% !important;
        
        }

        @include respond(phone){
            width: 83% !important;
            margin: 0 4rem;
        }

    }


}

.row-3{
    max-width: $grid-width-3;
    margin-bottom: 5rem;

    //  @include respond(tab-port) {
    //      max-width: 55rem;
    //      padding: 0 3rem;
    //  }

     //MARGIN BOTTOM
     &:not(:last-child) {
         margin-bottom: $gutter-vertical;

         @include respond(tab-land){
             margin-bottom: 0rem;
         }

         @include respond(tab-port) {
             margin-bottom: 0rem;
         }

         @include respond(phone) {
             margin-bottom: 0;
         }

     }

     //TOTAL MAX WIDTH 

     @include respond(tab-land) {
         max-width: 100%;
         padding: 0 5rem;
     }

     @include respond(tab-port) {
         max-width: 100%;
         padding: 0 3rem;
        //  position: relative;
        //  left: 2rem;
     }

     @include respond(phone) {
         max-width: 100%;
         padding: 0 3rem;
     }

     //APPLIES FOR ALL 'COL-' CLASS
     @include clearfix;

     [class^="col-"] {
         float: left;

         &:not(:last-child) {
             margin-right: $gutter-horizontal;

             @include respond(tab-port) {
                 margin-right: 3rem;
                 margin-bottom: 0rem;
             }
         }

         @include respond(tab-land){
             width: 50rem !important;
             padding: 3rem 0;
         }

         @include respond(tab-port) {
             width: 45% !important;
             padding: 3rem 0;

         }

         @include respond(phone) {
             width: 60% !important;
             margin: 0 -11rem;
         }

     }


}

// KEYS
// 1] [^=]attribute selector(it will select all classes starting with "col-")
// 2] Gutter:Space between the grids
