.image-cluster {
    position: relative;

    &__photo {
        width: 60%;
        box-shadow: 0 1.6rem 10rem rgba($color-black, .4);
        border-radius: .5rem;
        position: absolute;
        transition: all .2s;
        outline-offset: .8rem;

        @include respond(tab-port){
            float: left;
            position: relative;
            width: 33.333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &--p1 {
            left: -2rem;
            top: -2rem;
            
            @include respond(tab-port){
                top: 0;
                transform: scale(1.1);
                left: -5rem;

                // &:hover{
                //     transform: scale(1.1);
                //     box-shadow: none;
                //     outline: none;
                // }
            }
        }
    

        &--p3 {
            right: -2rem;
            top: 4rem;
            
            @include respond(tab-port){
               right: 0rem;
               top: -2rem;
               transform: scale(1.3);
               z-index: 100;

            //    &:hover{
            //        transform: scale(1.3);
            //        box-shadow: none;
            //        outline: none;
            //    }
              
            }

        }
    

        &--p2 {
            left: 20%;
            top: 15rem;
            
            @include respond(tab-port){
                top: 0rem;
                left: 5rem;
                transform: scale(1.1);

            //     &:hover{
            //          transform: scale(1.1);
            //          box-shadow: none;
            //          outline: none;
            //     }
            // }
            }     
    }

        &:hover {
            transform: scale(1.2);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 50;
            outline: 1rem solid $color-secondary-light;
        }

        @include respond(tab-land){
            &:hover{
                transform: none;
                box-shadow: none;
                z-index: 50;
                outline: none;
            }
        }

        // @include respond(tab-port){
        //     &:hover {
        //         box-shadow: none;
        //         z-index: 50;
        //         outline: none;
        //     }
        // }
    }

     &:hover &__photo:not(:hover) {
         transform: scale(.90);
         filter: blur(3px) brightness(60%);

     }

     @include respond(tab-land) {
         &:hover &__photo:not(:hover) {
             transform: none;
             filter: none;
         }
    }

    // @include respond(tab-port) {
    //     &:hover &__photo:not(:hover) {
    //         transform: scale(1.2);
    //         filter: none;
            
    //     }
    // }

}
